@import url(./fonts.css);

.navbar{
    background-color: #8381bb;
}
.navbar-brand{
    font-family: "robo";
    font-size: 2rem;
    letter-spacing: 0.5rem;
}
.header_area .main-menu .navbar .navbar-brand{
    padding:0 2rem 0 5rem  ;
}
.header_area.main-menu.navbar.navbar{
    padding:0rem 20rem ;
}
.header_area .main-menu .nav-item .nav-link{
    padding: 1.7rem;
    font-family: "Merriweather",cursive;
    font-weight: 500;
}
.foot{
    font-family: "bsteel";
    color: #94b1be;
    word-spacing: 0.7vw;
    letter-spacing: 0.3vw;
}
.nav-item{
    font-family: "Merriweather";
    font-size: 25px;
    letter-spacing: 0.5rem;
    color: violet;
}
/* end navigation */